html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
p,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Shadows Into Light Two';
}
@font-face {
  font-family: 'Mallika';
  src: url(font/Mallika.ttf);
}
p {
  font-weight: 600;
  font-size: 1em;
}

body {
  background-image: url(img/background.jpeg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

/*________________________1.STRANA-ZAVŘENÝ BLOK________________________*/

.first_container {
  max-width: 580px;
  margin: 20px auto;
  position: relative;
}

.background-image_first {
  width: 100%;
  padding-top: 130%;
  background-image: url(img/ntb_closed.svg);
  background-size: cover;
  position: absolute;
  z-index: -1;
}

/*_OBSAH BLOKU - 1.STRANA*/
.cover-contain {
  padding-left: 6em;
}

header {
  padding-top: 12%;
}

main {
  display: flex;
  margin-top: 10%;
  margin-bottom: 12%;
}

.logo {
  position: relative;
  width: 17em;
}

.heading h1 {
  font-weight: normal;
}

.heading {
  font-family: 'Mallika';
  font-size: 1.4em;
  position: relative;
  padding-top: 35%;
  margin-right: 5.5em;
  width: 86px;
  text-align: center;
  line-height: 2em;
}

.sticker {
  background-image: url('img/sticker.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 7em;
  height: 7em;
  position: absolute;
  left: 60%;
  text-align: center;
  top: 10%;
  transform: translateY(-50%);
}

.sticker a {
  position: relative;
  top: 35%;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: 'Shadows Into Light Two';
}

.sticker a:hover {
  font-weight: bold;
}

.about {
  position: relative;
  display: flex;
}

.about-us {
  position: relative;
  left: 2%;
  top: 10%;
  transform: translateY(-40%);
}

.about-us span {
  font-size: 40px;
}

.about-us a {
  padding: 2px;
  font-size: 2em;
  color: black;
  text-decoration: none;
}

.about-us a:hover {
  font-weight: bold;
}

/*______________________2.STRANA - pravidla (stránka nalevo)______________________*/

.second_container {
  display: flex;
  max-width: 1000px;

  margin: 40px auto;
  position: relative;
}

.background-image_second {
  width: 100%;
  padding-top: 72%;
  background-image: url(img/ntb_open.svg);
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.left-page {
  width: 44%;
  margin-top: 1em;
  margin-left: 1em;
}

.rules {
  margin-top: 1em;
}

.note {
  position: relative;
}
.note p {
  position: absolute;
  text-align: center;
}

#first-note {
  background-image: url('img/first_notee.svg');
  background-size: cover;
  width: 65%;
  height: 18em;
}

#first-note p {
  transform: rotate(-5deg);
  width: 78%;
  margin-left: 2.1em;
  top: 18%;
}

#second-note {
  background-image: url('img/second_notee.svg');
  background-size: cover;
  width: 70%;
  height: 19em;
  margin-left: 5em;
}

#second-note p {
  transform: rotate(6deg);
  width: 80%;
  margin-left: 1.5em;
  top: 18%;
}

/*____________________3.STRANA - příklad na ukázku (stránka napravo)____________________*/

.right-page {
  width: 44%;
  margin-top: 1em;
  margin-left: 3em;
  padding: 1em;
  text-align: center;
}

.smiley {
  width: 1em;
  height: 1em;
}

.right-page p {
  margin: 10px;
  margin-left: 40px;
}
.right-page h2 {
  margin-bottom: 1em;
}

.hint {
  display: flex;
}

.secret-code {
  font-size: 3em;
  letter-spacing: 10px;
}

.guess-contain {
  margin-top: 2em;
}

.guess {
  font-size: 2em;
  letter-spacing: 10px;
}

/* .second-sticker {
  background-image: url('img/sticker.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 7em;
  height: 7em;
  position: absolute;
  margin-left: 30%;
}
.second-sticker a {
  position: relative;
  top: 35%;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: 'Shadows Into Light Two';
}

.second-sticker a:hover {
  font-weight: bold;
} */

/*____________________4.STRANA - info o nás____________________*/

/*Luci*/

/* .left-page {
  max-width: 60vw;
  max-height: 80vh;
} */
.lucia {
  margin-top: 5%;
  margin-left: 28%;
  width: 56%;
}
.info {
  margin-top: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.left-page p {
  margin-left: 25%;
  text-align: center;
  width: 80%;
  font-weight: 600;
  font-size: 1em;
}
.left-page a {
  padding-top: 1rem;
  margin-left: 50%;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
}
/*Sab*/
.right-page p {
  width: 80%;
}
.polaroid {
  width: 65%;
  margin-left: 13%;
}

.git-icon {
  width: 2em;
  height: 2em;
}
.right-page a {
  color: black;
  text-decoration: none;
}
.right-page a:hover {
  font-weight: bold;
}

/*ODKAZY*/

.home-page {
  background-image: url('img/sticky_paper.svg');
  background-size: cover;
  width: 34%;
  height: 3.5em;
}

.home-page a {
  margin-left: 0.5em;
  padding-top: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: normal;
}

.home-page a:hover {
  font-weight: bold;
}

.home-icon {
  width: 2em;
  height: 2em;
  margin-top: 5px;
  margin-left: 2em;
}

.home-link {
  display: flex;
}

/*_____________*/

.rules-page {
  background-image: url('img/sticky_paper.svg');
  background-size: cover;
  width: 34%;
  height: 3.5em;
}
.rules-page a {
  margin-left: 0.5em;
  padding-top: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: normal;
}

.rules-page a:hover {
  font-weight: bold;
}

.rules-icon {
  width: 2em;
  height: 2em;
  margin-top: 5px;
  margin-left: 2em;
}
.rules-link {
  display: flex;
}

/*_____________*/

.aboutUs-page {
  background-image: url('img/sticky_paper2.svg');
  background-size: cover;
  width: 43%;
  height: 3.7em;
  margin-left: 61%;
  margin-top: 2em;
}
.aboutUs-page a {
  margin-left: 0.5em;
  padding-top: 0.4em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  font-weight: normal;
}

.aboutUs-page a:hover {
  font-weight: bold;
}

.girl-icon {
  width: 2em;
  height: 2em;
  margin-top: 5px;
  margin-right: 0.2em;
}
.aboutUs-link {
  display: flex;
}
